a {
    text-decoration: none;
}

.page-header {
    background-color: white;
}

.navigation-link {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #20242D;
}

.active-nav-link{
    
    color: #FF7129;
}

.header-wraper-contacts {
    background: #20242D;
    color: white;
}

.contact-link {
    color: white;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.header-address {
    color: white;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.welcome-section {
    background-color: #54647a;
}

.main-title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 92px;
    line-height: 111px;
    text-align: center;
    color: #FFFFFF;
}

.welcome-text {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.button {
    background-color: #FF7129;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
}

.title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
}

.text-container {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
}

.page-footer {
    background-color: #20242D;
}

.navigation-link-footer {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.button-footer {
    border: 1px solid #FF7129;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 28px rgba(255, 113, 41, 0.67));
    background-color: #20242D;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.info-private {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #7B7E85;
}

.about-welcome-section {
    background-color: #39404b;
}

.about-title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #FFFFFF;
}

.contacts-page-main {
    background-color: white;
}

.contacts-title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
}

.contacts-navigation {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7B7E85;
}

.contacts-info {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #20242D;
}

.contacts-info-tel {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #20242D;
}

.projekts-page-main {
    background-color: white;
}

.projekts-title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
}

.instalation-welcome-section {
    background-color: #555f6b;
}

.instalation-title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 87px;
    text-align: center;
    color: #FFFFFF;
}

.heading-info {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #20242D;
}

.subtitle-info {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
}

.text-container-description {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #20242D;
}

.text-highlight {
    color: #FF7129;
}

.link-list-instalation {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
    background-color: #F2F2F2;
}

.text-container-description-instalation {
    background-color: #F2F2F2;
}