* {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.page-header {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.navigation-link {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #20242D;
}

.active-nav-link{
    
    color: #FF7129;
}

.header-wraper-contacts {
    background: #20242D;
    color: white;
}

.contact-link {
    color: white;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.header-address {
    color: white;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.welcome-section {
    background-color: #54647a;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    padding-top: 271px;
    padding-bottom: 290px;
    text-align: center;
}

.main-title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 92px;
    line-height: 111px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.welcome-text {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 16px 0 59px 0;
}

.button {
    background-color: #FF7129;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    padding: 16px 48px;
    border: none;
}

.title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
}

.text-container {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
}

.page-footer {
    background-color: #20242D;
}

.navigation-link-footer {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.button-footer {
    border: 1px solid #FF7129;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 28px rgba(255, 113, 41, 0.67));
    background-color: #20242D;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.info-private {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #7B7E85;
}

.about-welcome-section {
    background-color: #39404b;
    background-image: url(../img/o_nas.jpg);
    background-size: cover;
    padding: 200px 0 103px 217px;
}

.about-title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #FFFFFF;
    margin: 0;
}

.contacts-page-main {
    background-color: white;
}

.contacts-title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
}

.contacts-navigation {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7B7E85;
}

.contacts-info {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #20242D;
}

.contacts-info-tel {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #20242D;
}

.projekts-page-main {
    background-color: white;
}

.projekts-title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
}

.instalation-welcome-section {
    background-color: #555f6b;
    background-image: url(../img/instal_top.jpg);
    background-size: cover;
}

.instalation-title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 87px;
    text-align: center;
    color: #FFFFFF;
}

.heading-info {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #20242D;
}

.subtitle-info {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
}

.text-container-description {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #20242D;
}

.text-highlight {
    color: #FF7129;
}

.link-list-instalation {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
    background-color: #F2F2F2;
}

.text-container-description-instalation {
    background-color: #F2F2F2;
}

.navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 12px;
    padding-bottom: 7px;
    align-items: center;
}

.header-wraper-contacts {
    justify-content: flex-start
}

.header-address {
    margin-right: auto;
}

.contact-link:first-of-type {
    margin-right: 56px;
}

.img-info {
    display: flex;
}

.img-wrapper {
    padding-left: 200px;
    padding-top: 132px;
}

.title {
    padding-left: 81px;
}

.index-info-text p {
    padding-left: 64px;
    padding-bottom: 319px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
}

.index-info-text h2 {
    padding-left: 81px;
    padding-top: 201px;
}

.footer-blok {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-top: 58px;
    padding-bottom: 52px;
    align-items: center;
}

.navigation {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation li {
    margin-left: 56px;
}

.button-footer {
    padding: 16px 63px;
    margin-right: 50px;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 24px 50px;
}

.about-text {
    display: flex;
    justify-content: space-between;
}

.about-text-container-one {
    padding-top: 80px;
    padding-left: 200px;
    padding-bottom: 184px;
}

.about-text-container-two {
    padding-top: 80px;
    padding-right: 266px;
}

.slaids {
    display: block;
    padding-top: 75px;
    padding-left: 300px;
    padding-bottom: 153px;
    list-style: none;
}

.projekts-title {
    padding-left: 218px;
    padding-top: 125px;
}

.contacts-title {
    margin: 0px;
    padding-left: 16px;
}

.contacts-welcome-section {
    display: flex;
    padding-left: 201px;
    padding-top: 125px;
    justify-content: space-between;
}

.contacts-info-navigation {
    display: block;
    padding-top: 178px;
    padding-bottom: 174px;
}

.contacts-navigation {
    display: block;
    padding-top: 85px;
}

.contacts-info {
    display: block;
    padding-left: 28px;
}

.contacts-info-tel {
    padding-left: 28px;
}

.contacts-map {
    display: block;
    padding-top: 461px;
}

.instalation-title {
    margin: 0px;
    padding-top: 162px;
    padding-right: 416px;
    padding-bottom: 163px;
}

.instalation-info-section {
    margin-top: 120px;
}

.heading-info {
    margin: 0px;
    padding-left: 467px;
}

.subtitle-info {
    padding-left: 450px;
}

.text-container {
    padding-left: 450px;
}

.instal1 {
    padding-left: 450px;
    padding-bottom: 24px;
}

.instal2-3 {
    display: flex;
    justify-content: center;
}

.instal2 {
    margin: 14px;
}

.instal3 {
    margin: 14px;
}

.text-container-description {
    padding-left: 476px;
}

.inst-link-list {
    padding-left: 507px;
}

.instal4 {
    padding-left: 450px;
}

.text-lat {
    color: #FF7129;
}

.last-instal-blok {
    padding-bottom: 120px;
}

.button-red{
    background-color: red;
}